<div class="ui-g">
    <div class="ui-g-4">
        <div class="card card-w-title">
            <h1>Clients</h1>
            <button pButton type="button" label="Generate Tree" (click)="generateTree()"></button>
            <liveapp-primary-list (treeRequested)="onShowTree($event)"></liveapp-primary-list>
        </div>
    </div>
    <div class="ui-g-8">
        <div class="card card-w-title">
            <h1>Contact Tree</h1>
            <liveapp-contact-tree [client]="selectedClient"></liveapp-contact-tree>
        </div>
    </div>
</div>
