<div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-g-6">
            <div class="card card-w-title">
                <h1>Database Connection</h1>
                <p-message></p-message>
                <div class="ui-g form-group">
                    <div class="ui-g-12">
                    <span class="md-inputfield" style="width: 80%">
                        <input type="text" pInputText style="width: 80%">
                        <label>Server</label>
                    </span>
                    </div>
                 </div>
                <div class="ui-g form-group">
                    <div class="ui-g-12">
                    <span class="md-inputfield" style="width: 80%">
                        <input type="text" pInputText style="width: 80%">
                        <label>User</label>
                    </span>
                    </div>
                </div>
                <div class="ui-g form-group">
                    <div class="ui-g-12">
                    <span class="md-inputfield" style="width: 80%">
                        <input type="text" pInputText style="width: 80%">
                        <label>Password</label>
                    </span>
                    </div>
                </div>
                <button pButton type="button" label="Verify"></button>
                <button pButton type="button" label="Save"></button>
            </div>
        </div>
        <div class="ui-g-6">
            <div class="card card-w-title">
                <h1>IQCareAPI Endpoint</h1>
                <p-message></p-message>
                <div class="ui-g form-group">
                    <div class="ui-g-12">
                    <span class="md-inputfield" style="width: 80%">
                        <input type="text" pInputText style="width: 80%">
                        <label>Url</label>
                    </span>
                    </div>
                </div>
                <button pButton type="button" label="Verify"></button>
                <button pButton type="button" label="Save"></button>
            </div>
        </div>
    </div>
</div>
