<div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Summary</h1>
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <div class="ui-g card colorbox colorbox-1">
                            <div class="ui-g-4">
                                <i class="material-icons">email</i>
                            </div>
                            <div class="ui-g-8">
                                <span class="colorbox-name">Recieved </span>
                                <span class="colorbox-count">{{stats?.received}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <div class="ui-g card colorbox colorbox-2">
                            <div class="ui-g-4">
                                <i class="material-icons">assignment_turned_in</i>
                            </div>
                            <div class="ui-g-8">
                                <span class="colorbox-name">Sent </span>
                                <span class="colorbox-count">{{stats?.sent}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <div class="ui-g card colorbox colorbox-3">
                            <div class="ui-g-4">
                                <i class="material-icons">assignment_late</i>
                            </div>
                            <div class="ui-g-8">
                                <span class="colorbox-name">Failed </span>
                                <span class="colorbox-count">{{stats?.failed}}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
